<p id="notice"><%= notice %></p>
<h1>Orders Detail</h1>



<table>
  <%= render (@order.line_items) %>
  <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@order.total_price, unit: "Rp ", delimiter: ".", separator:",") %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
