<%= form_for(voucher) do |form| %>
  <% if voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Enter Voucher Details</legend>

  <div class="field">
    <%= form.label :code_name %>
    <%= form.text_field :code_name, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :valid_from %>
    <%= form.date_field :valid_from %>
  </div>

  <div class="field">
    <%= form.label :valid_through %>
    <%= form.date_field :valid_through %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.select :unit, Voucher.units.keys, prompt: "Select a amount type" %>
  </div>

  <div class="field">
    <%= form.label :max_amount%>
    <%= form.text_field :max_amount, size: 40 %>
  </div>

   <div class="actions">
    <%= form.submit "Insert Voucher" %>
  </div>
</fieldset>

<% end %>
